.boton-personalizado {
	-fx-border-color: gray;
	-fx-border-width: 1;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-background-color: #32CD32;
	-fx-text-fill: black;
	-fx-font-size: 14px;
}

.boton-personalizado:hover {
	-fx-background-color: #2EB82E; /* verde más oscuro al pasar el ratón */
	-fx-border-color: darkgray;
}